
*.bin
*.lock
*.xml
.idea
.gradle
*.bin
*.lock
*.xml
*.ser
*.bin
*.lock
*.bin
*.lock
*.bin
.idea/workspace.xml
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/executionHistory/executionHistory.bin
*.bin
*.lock
